
<% if @recipes.count == 0%>
    <div class="text-center mt-5">
    <h5> Your dashboard is empty, try some delicious <%= link_to "recipes", recipes_path%> 
    or discover some amazing <%= link_to "bloggers", users_path%></h5>
    </div>
<%else%>
    <%= paginate @recipes %>
    <%= render 'recipe' %>
    <%= paginate @recipes%>
<%end%>

