<h2 class="text-center mt-4"><%= @recipe.title%></h2>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow  bg-white rounded">
                <div class="card-header font-italic">
                     by <%= link_to @recipe.user.username, user_path(@recipe.user),:class=>"text-dark", style:"text-decoration:none;" %>
                  </div>
                <div class="card-body">
                    <div>
                        <% if  @recipe.categories.any? %>
                            <div class="mt-2"><%= render @recipe.categories %></div>
                        <%end%>
                    </div>
                    <div class="mt-2">
                        <% if @recipe.picture.attached? %>
                            <%= image_tag(@recipe.picture_thumbnail) %>
                        <% end %>
                    </div>

                    <div class="mt-3">
                        <p class="card-text">
                        <% if @recipe.servings %>
                            <%= @recipe.servings %> servings | 
                        <%end%>
                        Preparation time: <%= @recipe.prep_time%> minutes 
                        <% if @recipe.cook_time?%> 
                        | Cooking time: <%= @recipe.cook_time%> minutes 
                        <%end %></p>
                    </div>

                    <div class="card-text text-left"><%=simple_format(@recipe.ingredients)%></div>
                    <div class="card-text text-left"><%=simple_format(@recipe.directions)%></div>
                    <% if user_signed_in? && (current_user == @recipe.user)%>
                    <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-outline-info btn-sm" %>
                    <%= link_to "Delete", recipe_path(@recipe), class: "btn btn-outline-danger btn-sm", method: :delete, data: {confirm: "Are you sure?"} %>
                    <% end%>
                </div>

                <div class="card-footer text-muted">
                    <small> Created <%=time_ago_in_words(@recipe.created_at)%> ago,
                    Updated <%=time_ago_in_words(@recipe.updated_at)%> ago </small>
                </div>
  
            </div>
            
        </div>
      
    </div>
</div>              

