<div class="text-center mt-4">
  <h1 class="text-center mt-4"><%= @user.username%>'s profile</h1>
  <% if user_signed_in? && @user == current_user %>
    <div class="text-center mt-2 mb-2">
      <%= link_to "Edit", edit_user_path(@user), class: "btn btn-outline-info btn-sm" %>
      <%= link_to "New recipe", new_recipe_path, class: "btn btn-outline-info btn-sm",id: "new-btn" %>
    </div>
  <% end %>
  <div>
    <% if @user.avatar.attached? %>
      <%= image_tag(@user.avatar,class:"rounded-circle",width: "300",height:"300") %>
    <% else %>
      <%= image_tag("default.png", alt: "A smiling face", width: "300")%>
    <% end %>
  </div>
  <div class="mt-1">
    <% if user_signed_in? && current_user == @user && @user.avatar.attached?%>
      <%= link_to  delete_avatar_attachment_user_url(@user), method: :delete, data: { confirm: 'Are you sure?' } do %>
      <button class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button>
      <%end %>
    <%end%>
  </div>

    <section class="mt-4" id="all-links">
      <p>
      <%= @user.followers.size%> followers
      <%= @user.followees.size%> followed
      <% if user_signed_in? && current_user != @user %>
        <% if current_user.followees.include?(@user) %>
            <h5><%=link_to "Unfollow", unfollow_user_path, method: :post, class: "btn btn-outline-info",style:"text-decoration:none;",id:"unfollow-btn"%></h5>
        <% else  %>
            <h5><%=link_to "Follow", follow_user_path, method: :post, class: "btn btn-outline-info",style:"text-decoration:none;",id:"follow-btn"%></h5>
        <% end%>
      <%end%>
      </p>
  </section>
</div>
<h3 class="text-center"> <%= @user.bio%> </h3>
 
<h3 class="text-center mt-5"> Recipes </h3>
<%= paginate @recipes %>
<%= render 'recipes/recipe' %>
<%= paginate @recipes%>


