<div class="text-center mt-4">
<h1 class="text-center mt-4"><%= @user.username%>'s profile</h1>

 <% if @user.avatar.attached? %>
  <%= image_tag(@user.avatar_thumbnail,alt: "Trust me I'm cool",:class=>"rounded-circle",:style=> "line-height:200px;width:200px;height: 200px;") %>
 <% else %>
  <%= image_tag("default.png", alt: "A smiling face", width: "300")%>
 <% end %>
 </div>

 <h3 class="text-center"> <%= @user.bio%> </h3>
 



<% if user_signed_in? && @user == current_user %>
  <div class="text-center mt-4">
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-outline-info" %>
    <%= link_to "New recipe", new_recipe_path, class: "btn btn-outline-info",id: "new-btn" %>
  </div>

<% end %>


<h3 class="text-center"> Recipes </h3>
<%= paginate @recipes %>
<%= render 'recipes/recipe' %>
<%= paginate @recipes%>


